<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github hvr-pop"></i></a>
    <a href="#"><i class="fab fa-facebook-f hvr-pop"></i></a>
    <a href="#"><i class="fab fa-twitter hvr-pop"></i></a>
    <a href="#"><i class="fab fa-linkedin hvr-pop"></i></a>
  </div>
  <div class="footer-copyright">
    Please drink responsibly..however much that is! <i class="fa fa-heart hvr-pulse-grow"></i> from your friendz @ CockTailz
  </div>
</div>
